[submodule "etudes-test"]
	path = etudes-test
	url = https://github.com/saunaklub/etudes-test
[submodule "extern/typed-geometry"]
	path = extern/typed-geometry
	url = https://www.graphics.rwth-aachen.de:9000/ptrettner/typed-geometry.git
	branch = develop
[submodule "extern/glow"]
	path = extern/glow
	url = https://www.graphics.rwth-aachen.de:9000/Glow/glow.git
	branch = develop
